{% extends "base.html.twig" %}

{% block body %}
    <h2>Créer un compte utilisateur</h2>
	{{ form_start(form) }}
	{{ form_row(form.email) }}
	{{ form_row(form.password) }}
	<input type="submit" class="btn btn-success" value="S'enregistrer">
	{{ form_end(form) }}
{% endblock %}
